@tailwind base;

body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
}

h1 {
    @apply font-medium text-gray-800 mb-4 mt-6 leading-normal text-3xl;
}

h2 {
    @apply font-medium text-gray-800 mb-4 mt-6 leading-snug text-2xl;
}

h3 {
    @apply font-medium text-gray-800 mb-4 mt-6 leading-snug text-xl;
}

h4 {
    @apply font-medium text-gray-800 mb-4 mt-6 leading-snug text-lg;
}

h5 {
    @apply font-medium text-gray-800 mb-4 mt-6 leading-tight text-lg;
}

h6 {
    @apply font-medium text-gray-700 mb-4 mt-6 leading-tight text-lg;
}

strong {
    @apply font-semibold;
}

code {
    @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-1/2;
}

pre {
    @apply bg-gray-200 p-4 rounded overflow-auto;
}

pre code {
    @apply block bg-transparent p-0 overflow-visible rounded-none;
}

kbd {
    @apply text-xs inline-block border px-1 py-1/2 align-middle font-normal font-mono shadow rounded;
}

blockquote {
    @apply text-base border-l-4 border-gray-300 ml-4 pl-4 pr-4 text-gray-600;
}

#content {
    @apply text-gray-800;
}

#content > * {
    @apply mb-4;
}

#content a {
    @apply text-teal-700 font-medium;
}

#content strong a {
    @apply font-bold;
}

#content ul {
    @apply text-base pl-8 list-disc;
}

#content ol {
    @apply text-base pl-8 list-decimal;
}

#content li + li {
    @apply mt-1;
}

#content li > p + p {
    @apply mt-6;
}

#content table {
    @apply text-base border-gray-600;
}

#content th {
    @apply border py-1 px-3;
}

#content td {
    @apply border py-1 px-3;
}

#content h1:hover > a, #content h2:hover > a, #content h3:hover > a, #content h4:hover > a {
    @apply opacity-100;
}

@tailwind components;

.heading-anchor {
    @apply opacity-0 align-top;
}

.hide-header {
    transform: translateY(-100%);
}

@tailwind utilities;

.nice-shadow {
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06);
}

.visually-hidden { 
    @apply block absolute h-px w-px overflow-hidden whitespace-no-wrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
}