---
layout: default
title: Page Not Found
permalink: 404.html
---

<div class="flex flex-col md:flex-row items-center">
    <div class="md:mr-7 text-gray-800">{% include "icons/frown.svg" %}</div>
    <div class="text-center md:text-left text-gray-800">
        <h1 class="my-2 text-6xl">404</h1>
        <h2 class="mb-3 mt-0">Oops! It seems you are lost</h2>
        <p class="mb-4 md:mb-3 text-gray-600">The page you're looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <a href="/" class="text-teal-600 font-semibold">Return to homepage</a>
    </div>
</div>