---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "{% if paged.index > 0 %}page/{{ paged.index + 1 }}/{% endif %}index.html"
---

<div class="flex flex-wrap -mx-2">
    {% include "partials/post-grid.njk" %}
</div>

{% include "partials/paginator.njk" %}