---
layout: default
title: Search
---

<div class="flex border-slate-100 border-t items-center mb-8 md:mx-auto md:w-2/3 px-4 py-3 rounded shadow text-slate-600 w-full">
    {% include "icons/search.svg" %}
    <label class="visually-hidden" for="searchbox">Search here ...</label>
    <input type="search" id="searchbox" class="focus:outline-none ml-3 w-full" placeholder="Search here ...">
</div>
<div id="info" class="text-center mb-5 mx-auto text-lg text-slate-600"></div>
<div id="wrapper" class="flex flex-wrap -mx-2"></div>