<div class="mt-3 clearfix">
    <a {% if not paged.first %}href="{{ pagination.href.previous }}"{% endif %} class="float-left bg-white font-semibold py-2 px-4 border rounded shadow-md {% if not paged.first %}cursor-pointer text-gray-800 hover:bg-gray-100{% else %}cursor-default text-gray-600{% endif %}">Previous</a>
    <a {% if not paged.last %}href="{{ pagination.href.next }}"{% endif %} class="float-right bg-white font-semibold py-2 px-4 border rounded shadow-md {% if not paged.last %}cursor-pointer text-gray-800 hover:bg-gray-100{% else %}cursor-default text-gray-600{% endif %}">Next</a>
</div>